.banner{
    background-color: #FFC000;
    height: 90vh;
    font-family: 'Antonio', sans-serif;
    position: relative;
}

.nav-item{
    font-size: 15px;
    
}
.nav-item > a {
    text-decoration: none;
    color: white;
}

.nav-item > .home {
    text-decoration: underline;
    color: red;

}

.content{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slogan-container{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.slogan{
    display: flex;
    flex: 1;
    align-items: center;
}

.burger-image{
    height: 70vh;
    object-fit: fill;
    transform: rotate(10deg);
}

.slogan-title-container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.slogan-title{
    color: red;
    margin-right: 10px

}

.divider {
    background-color: red;
    height: 2px;
    width: 40px;
    border-radius: 50%;
}

.slogan-text{
    color: white;
    font-size: 90px;
    line-height: 1;
    margin-bottom: 20px;
}

.food-info{
    position: relative;
}

.ingredients{
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 6px 5px 6px 5px;
}

.ingredients > .ingredient{
    font-size: 20px;
}


#price-tag{
    font-size: 40px;
}

.plus-sign{
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 25px;
    color: red;
}

.pages{
    margin-bottom: 20px;
}

.angles{
    color: red;
}
.page-number{
    color: red;
    margin-left: 20px;
}

.total-page-number{
    margin-right: 20px;
    color: white;
}

.circle{
    width: 300px;
    height: 300px;
    background-color: #FFA100;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 15%;
}